  
body {
    background-color: #d0d4cd;
    font-family: fantasy;
  }
  
  .header {
    background-color: white;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beagle-puppy-lying-down-royalty-free-image-980647656-1545127826.jpg?resize=2304:*");
    background-position: center;
    padding: 50px;
    text-align: center;
    font-size: 35px;
  }
  
  .column {
    width: 25%;
    float: left;
    padding: 50px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .column p{
    font-family: sans-serif;
    font-style: italic;
  }